.contacts__wrapper {
  width: auto;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
}

.contacts__wrapper--form {
  background-color: @main-gray;
}

.contacts__slogan {
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  padding-left: 17px;
}

.contacts__adress {
  .description;
  width: 50%;
  line-height: 20px;
  padding: 0;
  margin: 0;
  max-width: 160px;
  padding-right: 20px;
}

.contacts__adress-street {
  margin: 0;
}

.contacts__adress-town {
  margin: 0;
}

.contacts__map-wrapper {
  height: 365px;
  width: 100%;
}

.contacts__map {
  height: 365px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    margin: 0;
    width: 630px;
    padding: 65px 70px 60px 70px;
  }

  .contacts__slogan {
    font-size: 20px;
    line-height: 25px;
    width: 192px;
    padding-left: 0;
  }

  .contacts__adress {
    font-size: 16px;
    line-height: 20px;
    width: 192px;
    text-align: right;
    margin-left: auto;
    padding-right: 0;
  }

  .contacts__adress-town {
    padding-top: 20px;
  }

  .contacts__map-wrapper {
    height: 400px;
    width: 100%;
  }

  .contacts__map {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: auto;
    margin: 0 auto;
    max-height: 400px;
  }

  .contacts__container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    background-color: white;
    position: absolute;
    top: 95px;
    left: 0;
    width: 440px;
    padding-left: 76px;
    padding-right: 53px;
    padding-top: 63px;
    padding-bottom: 60px;
  }

  .contacts__slogan {
    width: 165px;
    padding-left: 0;
  }

  .contacts__adress {
    width: 160px;
    text-align: left;
    padding-right: 30px;
  }

  .contacts__adress-town {
    padding-top: 20px;
  }

  .contacts__map-wrapper {
    height: 400px;
    width: 100%;
  }

  .contacts__map {
    height: 400px;
  }
}
