.form {
  width: auto;
  margin: 0 auto;
}

.form__field {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  .form-text;
  font-family: "Oswald", "Arial", sans-serif;
}

.form__wrapper {
  margin: 0 auto;
  margin-bottom: 29px;
  max-width: 320px;
}

@media (min-width: @tablet-width) {
  .form {
    width: auto;
  }

  .form__wrapper {
    margin: 0 auto;
    max-width: 768px;
    margin-bottom: 77px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin: 0 auto;
  }

  .form__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1220px;
  }
}


.field-cat {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.field-cat__row {
  margin-left: 15px;
  padding-left: 15px;
  height: 45px;
  border: 1px solid #cdcdcd;
  flex-grow: 2;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.field-cat__row:hover {
  border: 2px solid #cdcdcd;
  height: 43px;
}

/*&__row:invalid {
  border: 2px solid #ff8282;
}*/

.field-cat__row:active {
  border: 2px solid #444444;
  height: 43px;
}

.field-cat__row:focus:invalid {
  border: 2px solid #ff8282;
  height: 43px;
}

.field-cat__name {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  color: black;
}

.field-cat__weigth {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  color: black;
}

.field-cat__age {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  color: black;
}

@media (min-width: @tablet-width) {
  .field-cat {
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 55px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .field-cat__row {
    margin-left: 20px;
    padding-left: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #444444;
  }

  .field-cat__name {
    padding-bottom: 22px;
  }

  .field-cat__weigth {
    padding-bottom: 22px;
  }

  .field-cat__age {
    padding-bottom: 22px;
  }
}

@media (min-width: @desktop-width) {
  .field-cat {
    width: 570px;
    padding: 0;
    margin-left: 0;
    margin-right: 40px;
  }

  .field-cat__name {
    padding-bottom: 25px;
  }
}

.field-target {
  padding: 0 20px;
  padding-top: 28px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.field-target__weight-loss::after {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.field-target__weight-loss:hover::after,
.field-target__weight-loss:focus::after {
  border: 1px solid #bababa;
}

.field-target__weight-loss:active::after {
  opacity: 0.3;
}

.field-target__fat::after {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.field-target__fat:hover::after,
.field-target__fat:focus::after {
  border: 1px solid #bababa;
}

.field-target__fat:active::after {
  opacity: 0.3;
}

.field-target__dont-know::after {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.field-target__dont-know:active::after {
  opacity: 0.3;
}

.field-target__dont-know:hover::after,
.field-target__dont-know:focus::after {
  border: 1px solid #bababa;
}

.field-target__weight-loss::before {
  content: "";
  display: none;
  position: absolute;
  left: 10px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #68b738;
  margin-top: 0;
}

.field-target__fat::before {
  content: "";
  display: none;
  position: absolute;
  left: 10px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #68b738;
  margin-top: 0;
}

.field-target__dont-know::before {
  content: "";
  display: none;
  position: absolute;
  left: 10px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #68b738;
  margin-top: 0;
}

.field-target__weight-loss {
  position: relative;
  padding-bottom: 25px;
  padding-left: 45px;
}

.field-target__weight-loss:active {
  color: rgba(34, 34, 34, 0.3);
}

.field-target__fat {
  position: relative;
  padding-bottom: 25px;
  padding-left: 45px;
}

.field-target__fat:active {
  color: rgba(34, 34, 34, 0.3);
}

.field-target__dont-know {
  position: relative;
  padding-bottom: 25px;
  padding-left: 45px;
}

.field-target__dont-know:active {
  color: rgba(34, 34, 34, 0.3);
}

.field-target input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-target input[type="radio"]:checked + .field-target__weight-loss::before {
  display: block;
}

.field-target input[type="radio"]:checked + .field-target__fat::before {
  display: block;
}

.field-target input[type="radio"]:checked + .field-target__dont-know::before {
  display: block;
}

.field-target__weight-loss:active,
.field-target__fat:active,
.field-target__dont-know:active {
  opacity: 0.3;
}

.field-target__weight-loss:focus,
.field-target__fat:focus,
.field-target__dont-know:focus {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .field-target {
    border: 1px solid #e6e6e6;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 30px;
  }

  .field-target__weight-loss::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }

  .field-target__fat::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }

  .field-target__dont-know::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }

  .field-target__weight-loss::before {
    content: "";
    display: none;
    position: absolute;
    left: 12px;
    top: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0;
    background: #68b738;
    margin-top: 0;
  }

  .field-target__fat::before {
    content: "";
    display: none;
    position: absolute;
    left: 12px;
    top: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0;
    background: #68b738;
    margin-top: 0;
  }

  .field-target__dont-know::before {
    content: "";
    display: none;
    position: absolute;
    left: 12px;
    top: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0;
    background: #68b738;
    margin-top: 0;
  }

  .field-target__weight-loss {
    position: relative;
    padding-bottom: 26px;
    padding-left: 60px;
    padding-top: 10px;
  }

  .field-target__fat {
    position: relative;
    padding-bottom: 26px;
    padding-left: 60px;
    padding-top: 10px;
  }

  .field-target__dont-know {
    position: relative;
    padding-bottom: 26px;
    padding-left: 60px;
    padding-top: 10px;
  }

  .field-target input[type="radio"] {
    display: none;
  }

  .field-target input[type="radio"]:checked + .field-target__weight-loss::before {
    display: block;
  }

  .field-target input[type="radio"]:checked + .field-target__fat::before {
    display: block;
  }

  .field-target input[type="radio"]:checked + .field-target__dont-know::before {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .field-target {
    width: 520px;
    padding: 23px 25px 0;
    margin-left: 40px;
    margin-right: 0;
    margin-bottom: 62px;
    padding-bottom: 10px;
  }

  .field-target__weight-loss::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }

  .field-target__fat::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }

  .field-target__dont-know::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }

  .field-target__weight-loss::before {
    content: "";
    display: none;
    position: absolute;
    left: 12px;
    top: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0;
    background: #68b738;
    margin-top: 0;
  }

  .field-target__fat::before {
    content: "";
    display: none;
    position: absolute;
    left: 12px;
    top: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0;
    background: #68b738;
    margin-top: 0;
  }

  .field-target__dont-know::before {
    content: "";
    display: none;
    position: absolute;
    left: 12px;
    top: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0;
    background: #68b738;
    margin-top: 0;
  }

  .field-target__weight-loss {
    position: relative;
    padding-bottom: 26px;
    padding-left: 60px;
  }

  .field-target__fat {
    position: relative;
    padding-bottom: 26px;
    padding-left: 60px;
  }

  .field-target__dont-know {
    position: relative;
    padding-bottom: 26px;
    padding-left: 60px;
  }

  .field-target input[type="radio"] {
    display: none;
  }

  .field-target input[type="radio"]:checked + .field-target__weight-loss::before {
    display: block;
  }

  .field-target input[type="radio"]:checked + .field-target__fat::before {
    display: block;
  }

  .field-target input[type="radio"]:checked + .field-target__dont-know::before {
    display: block;
  }
}

.field-owner {
  display: flex;
  padding-top: 29px;
  padding-bottom: 15px;
  max-width: 320px;
  margin: 0 auto;
}

.field-owner__title-wrapper {
  position: relative;
}

.field-owner__title-wrapper::before {
  content: "";
  position: absolute;
  top: 11px;
  width: 100%;
  height: 3px;
  margin-top: 2px;
  background: #68b738;
  z-index: -1;
}

.field-owner__wrapper {
  padding-left: 19px;
  padding-right: 20px;
}

.field-owner__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
  background-color: white;
  margin-right: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 19px;
  width: 182px;
}

.field-owner__second-title-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.field-owner__e-mail {
  position: relative;
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
}

.field-owner__phone {
  position: relative;
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
}

.field-owner__row {
  margin-bottom: 14px;
  padding-left: 15px;
  height: 43px;
  border: 1px solid #cdcdcd;
  flex-grow: 2;
  margin-left: 12px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.field-owner__row:hover {
  border: 2px solid #cdcdcd;
  height: 41px;
}

/*&__row:hover ~ svg {
  fill: #cdcdcd;
}*/

.field-owner__row:focus ~ svg {
  fill: #68b738;
}

.field-owner__row:active ~ svg {
  fill: #68b738;
}

.field-owner__row:active {
  border: 2px solid #444444;
  height: 41px;
}

.field-owner__row:focus {
  border: 2px solid #444444;
  height: 41px;
}

/*&__row:invalid {
  border: 2px solid #ff8282;
}*/

.field-owner__image--phone-icon {
  position: absolute;
  right: 14px;
  top: 15px;
  width: 21px;
  height: 21px;
}

.field-owner__image--mail-icon {
  position: absolute;
  right: 14px;
  top: 20px;
  width: 18px;
  height: 14px;
}

/*&__row:active {
  border: 2px solid #444444;
  height: 41px;
}*/

.field-owner__row:focus:invalid {
  border: 2px solid #ff8282;
  height: 41px;
}

.field-owner__row:focus:invalid ~ svg {
  fill: #ff8282;
}

@media (min-width: @tablet-width) {
  .field-owner {
    max-width: 768px;
    margin-top: 50px;
    margin-bottom: 45px;
    padding-left: 0;
  }

  .field-owner__title-wrapper::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background: #68b738;
    z-index: -1;
  }

  .field-owner__title-wrapper::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background: #68b738;
    z-index: -1;
  }

  .field-owner__title {
    font-size: 36px;
    margin-bottom: 53px;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 518px;
  }

  .field-owner__second-title-wrapper {
    max-width: 708px;
    margin: 0 auto;
  }

  .field-owner__wrapper {
    padding-left: 70px;
    padding-right: 65px;
    max-width: 768px;
  }

  .field-owner__e-mail {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .field-owner__phone {
    font-size: 20px;
  }

  .field-owner__row {
    height: 48px;
    font-size: 20px;
    margin-left: 18px;
    padding-left: 20px;
  }

  .field-owner__image--phone-icon {
    position: absolute;
    right: 17px;
    top: 17px;
    width: 21px;
    height: 21px;
  }

  .field-owner__image--mail-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 18px;
    height: 14px;
  }

  .field-owner__row:hover {
    height: 46px;
  }

  .field-owner__row:active {
    height: 46px;
  }

  .field-owner__row:focus {
    height: 46px;
  }

  .field-owner__row:focus:invalid {
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .field-owner {
    margin: 0 auto;
    max-width: 1220px;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding-top: 0;
    padding-left: 0;
  }

  .field-owner__title {
    font-size: 36px;
    padding-bottom: 80px;
    margin-left: -40px;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 40px;
    width: 520px;
  }

  .field-owner__wrapper {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1220px;
  }

  .field-owner__title-wrapper {
    max-width: 100%;
  }


  .field-owner__title-wrapper::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background: #68b738;
    z-index: -1;
    margin-left: -40px;
  }

  .field-owner__title-wrapper::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background: #68b738;
    z-index: -1;
    margin-right: -40px;
  }

  .field-owner__second-title-wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }

  /*.field-owner__title-wrapper::before {
    top: 4px;
    width: 100%;
  }*/

  .field-owner__row {
    margin-left: 19px;
    padding-left: 18px;
  }

  .field-owner__e-mail {
    width: 50%;
    margin-right: 40px;
    margin-left: 0;
  }

  .field-owner__row--phone-icon {
    padding-left: 15px;
  }

  .field-owner__phone {
    width: 50%;
    margin-right: 0;
    margin-left: 40px;
  }

  .field-owner__row:active {
    height: 46px;
  }

  .field-owner__row:focus {
    height: 46px;
  }

  .field-owner__row:focus:invalid {
    height: 46px;
  }
}

.field-comment {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto 25px;
  margin-bottom: 29px;
}

.field-comment__title-wrapper {
  position: relative;
}

.field-comment__title-wrapper::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 3px;
  margin-top: 2px;
  background: #68b738;
  z-index: -1;
}

.field-comment__second-title-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.field-comment__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  font-size: 24px;
  background-color: white;
  margin-right: 0;
  padding-right: 22px;
  padding-bottom: 32px;
  padding-left: 20px;
  line-height: 24px;
  width: 120px;
}

.field-comment__row {
  width: 264px;
  height: 133px;
  border: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-left: 14px;
  text-transform: uppercase;
  margin-left: 19px;
  margin-right: 19px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.field-comment__row:hover {
  border: 2px solid #cdcdcd;
  height: 131px;
}

.field-comment__row:active {
  border: 2px solid #444444;
  height: 131px;
}

.field-comment__row:focus:invalid {
  border: 2px solid #ff8282;
  height: 131px;
}

@media (min-width: @tablet-width) {
  .field-comment {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 68px;
    padding-left: 0;
  }

  .field-comment__title-wrapper::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background: #68b738;
    z-index: -1;
  }

  .field-comment__second-title-wrapper {
    max-width: 708px;
    margin: 0 auto;
  }

  .field-comment__title-wrapper::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background: #68b738;
    z-index: -1;
  }

  .field-comment__title {
    font-size: 36px;
    margin-bottom: 50px;
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 180px;
  }

  .field-comment__row {
    font-size: 20px;
    width: 614px;
    height: 155px;
    border: 1px solid @main-gray;
    padding-top: 16px;
    padding-left: 18px;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
  }

  .field-comment__row:hover {
    border: 2px solid #cdcdcd;
    height: 153px;
  }

  .field-comment__row:active {
    border: 2px solid #444444;
    height: 153px;
  }

  .field-comment__row:focus:invalid {
    border: 2px solid #ff8282;
    height: 153px;
  }
}

@media (min-width: @desktop-width) {
  .field-comment {
    margin: 0 auto;
    width: 1220px;
    margin-bottom: 72px;
    padding-left: 0;
    max-width: 1220px;
  }

  .field-comment__title {
    font-size: 36px;
    padding-bottom: 80px;
    margin-left: -40px;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 40px;
    width: 180px;
  }

  .field-comment__title-wrapper {
    max-width: 100%;
  }


  .field-comment__title-wrapper::after {
    top: 4px;
    width: 100%;
    margin-left: -40px;
  }

  .field-comment__title-wrapper::before {
    top: 4px;
    width: 100%;
    margin-right: -40px;
  }

  .field-comment__row {
    font-size: 20px;
    width: 1200px;
    height: 155px;
    border: 1px solid @main-gray;
    padding-top: 17px;
    padding-left: 18px;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
  }

  .field-comment__second-title-wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }
}


.field-extra {
  max-width: 320px;
  margin: 0 auto;
}

.field-extra__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.field-extra__title-wrapper {
  position: relative;
}

.field-extra__second-title-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.field-extra__title-wrapper::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 3px;
  margin-top: 2px;
  background: #68b738;
  z-index: -1;
}

.field-extra__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
  background-color: white;
  margin: 0;
  padding-right: 22px;
  padding-bottom: 40px;
  padding-left: 20px;
  width: 140px;
}

.field-extra__checkbox-wrapper {
  padding-bottom: 24px;
}

.field-extra__checkbox--sugar {
  padding-left: 45px;
}

.field-extra__checkbox--water {
  padding-left: 45px;
}

.field-extra__checkbox--milk {
  padding-left: 45px;
}

.field-extra__checkbox--vitamins {
  padding-left: 45px;
}

.field-extra__checkbox--content {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-extra__checkbox {
  position: relative;
}

.field-extra__checkbox:hover::after {
  border: 1px solid #bababa;
}

.field-extra__checkbox::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  border: 1px solid #d9d9d9;
}

.field-extra__checkbox::before {
  content: "";
  display: none;
  position: absolute;
  left: 9px;
  top: 50%;
  margin-top: -3px;
  width: 12px;
  height: 21px;
  border-right: 1px solid #68b738;
  border-bottom: 1px solid #68b738;
  transform: translateY(-50%) rotate(45deg);
}

.field-extra input[type="checkbox"]:checked + .field-extra__checkbox::before {
  display: block;
}

.field-extra__checkbox:active {
  opacity: 0.3;
}

.field-extra__checkbox:focus {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .field-extra {
    padding-left: 30px;
    margin-left: 0;
  }

  .field-extra__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    /*margin-left: 40px;*/
    margin-right: 106px;
    margin-left: 10px;
    /* margin-right: 40px; */
    margin-bottom: 0;
    width: 572px;
  }

  .field-extra__second-title-wrapper {
    max-width: 708px;
    margin: 0 auto;
  }

  .field-extra__title-wrapper::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background: #68b738;
    z-index: -1;
  }

  .field-extra__title-wrapper::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background: #68b738;
    z-index: -1;
  }

  .field-extra__title {
    text-transform: none;
    font-size: 36px;
    margin-bottom: 35px;
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 210px;
  }

  .field-extra__checkbox-wrapper {
    flex: 0 0 40%;
    width: 40%;
    padding-right: 0;
    margin-bottom: 29px;
  }

  /*&__checkbox--sugar {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 60px;
  }

  &__checkbox--water {
    font-size: 20px;
    padding-left: 60px;
    padding-top: 10px;
  }

  &__checkbox--milk {
    font-size: 20px;
    padding-left: 60px;
    margin-top: 10px;
  }

  &__checkbox--vitamins {
    font-size: 20px;
    margin-top: 10px;
    padding-left: 60px;
  }*/

  .field-extra__checkbox {
    font-size: 20px;
    padding-left: 60px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .field-extra__checkbox--content {
    display: none;
  }

  .field-extra__checkbox::after {
    content: "";
    position: absolute;
    left: 2px;
    top: -6px;
    width: 39px;
    height: 39px;
    border: 1px solid #d9d9d9;
  }

  .field-extra__checkbox::before {
    content: "";
    display: none;
    position: absolute;
    left: 15px;
    top: 13px;
    margin-top: -3px;
    width: 12px;
    height: 21px;
    border-right: 1px solid #68b738;
    border-bottom: 1px solid #68b738;
    transform: translateY(-50%) rotate(45deg);
  }
}

@media (min-width: @desktop-width) {
  .field-extra {
    padding-left: 0;
    margin: 0 auto;
    max-width: 1220px;
  }

  .field-extra__title {
    margin-left: -40px;
    margin-right: 0;
    padding-bottom: 39px;
    padding-left: 40px;
    width: 208px;
  }

  .field-extra__wrapper {
    width: 1220px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    /*flex-wrap: nowrap;*/
  }

  .field-extra__title-wrapper {
    max-width: 100%;
  }

  .field-extra__title-wrapper::before {
    top: 4px;
    width: 100%;
    margin-right: -40px;
  }

  .field-extra__second-title-wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }

  .field-extra__title-wrapper::after {
    top: 4px;
    width: 100%;
    margin-left: -40px;
  }

  .field-extra__checkbox-wrapper {
    max-width: 226px;
    padding-right: 20px;
    margin-bottom: 38px;
  }

  .field-extra__checkbox--sugar {
    font-size: 20px;
    padding-top: 0;
    padding-left: 60px;
  }

  .field-extra__checkbox--water {
    font-size: 20px;
    padding-left: 60px;
    padding-top: 0;
  }

  .field-extra__checkbox--milk {
    font-size: 20px;
    padding-left: 60px;
    margin-top: 0;
  }

  .field-extra__checkbox--vitamins {
    font-size: 20px;
    margin-top: 0;
    padding-left: 60px;
  }
}
