.main-nav {
  list-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .main-nav {
    flex-direction: row;
    width: auto;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    align-self: flex-end;
  }
}

.site-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  &__link {
    text-decoration: none;
    color: black;
  }
}

@media (min-width: @tablet-width) {
  .site-menu {
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
  }
}

@media (min-width: @desktop-width) {
  .site-menu {
    background-color: @main-green;

    &__link {
      color: white;
    }
  }
}
