.page-footer {
  background-color: @main-gray;

  &__wrapper {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-top: 39px;
    margin-bottom: 31px;

    align-self: center;
  }

  &__social {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    width: 280px;
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    &__wrapper {
      width: 708px;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      padding: 30px 0;
    }

    &__social {
      border: none;
      padding: 30px 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    &__wrapper {
      width: 1220px;
      margin: 0 auto;
    }
  }
}

.social {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
    list-style: none;
    margin: 0;
    margin-left: 73px;
    margin-right: 83px;
    padding: 0;
  }

  &__link {
    text-decoration: none;
  }
}

/*@media (min-width: @tablet-width) {
  .social {
    &__list {

    }
  }
}*/

.copyright {
  margin: 26px 0 31px 0;

  &__text {
    text-align: left;
    .description;
    font-size: 16px;
  }
}
